<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= HSC %></p>

<%postsArray.forEach((each)=>{ %>
<h1><%= each.title %></h1>
<p>
  <%= each.content.substring(0,100) + "..." %>
  <a href="/posts/<%=each._id %>"> Read More</a>
</p>
<% }) %> <%- include("partials/footer") -%>
